<!-- Estilos CSS -->
<style>
  :host {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #444;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 12px 0;
  }

  p {
    margin: 4px 0;
  }

  .custom-content {
    display: flex;
    margin: 80px auto 40px;
    padding: 0 20px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<!-- Componente Angular -->
<div class="custom-content" role="main">
  <ul>
    <li *ngFor="let task of tasks" [ngStyle]="{'text-decoration': task.concluida ? 'line-through' : 'none'}">
      {{task.description }}
      <button (click)="toggleConcluir(task)">Concluir</button>
    </li>
  </ul>
</div>
